<div
  [class.opacity-0]="!expanded"
  [class.pointer-events-none]="!expanded"
  class="
    fixed inset-0 bg-BrandYellow flex flex-col px-4 py-4
    transition-opacity duration-300 ease-in-out
  "
  style="z-index: 9999"
>
  <button
    class="absolute top-4 left-4 w-12 h-12 bg-black flex items-center justify-center rounded-full shadow-md"
    (click)="handleCloseNav()"
  >
    -
  </button>
  <nav class="mt-16 ml-4 flex flex-col space-y-4 text-blue">
    <a
      routerLink="/"
      (click)="handleCloseNav()" 
      routerLinkActive="text-black"
      [routerLinkActiveOptions]="{ exact: true }"
      class="text-4xl condensed"
    >
      HOME
    </a>
    <a
      routerLink="/whitepaper"
      (click)="handleCloseNav()" 
      routerLinkActive="text-black"
      [routerLinkActiveOptions]="{ exact: true }"
      class="text-4xl condensed"
    >
      WHITEPAPER
    </a>
    <a
      routerLink="/games"
      (click)="handleCloseNav()" 
      routerLinkActive="text-black"
      [routerLinkActiveOptions]="{ exact: true }"
      class="text-4xl condensed"
    >
      GAMES
    </a>
    <a
      routerLink="/courses"
      (click)="handleCloseNav()" 
      routerLinkActive="text-black"
      [routerLinkActiveOptions]="{ exact: true }"
      class="text-4xl condensed"
    >
      COURSES
    </a>
    <a
      routerLink="/yardages"
      (click)="handleCloseNav()" 
      routerLinkActive="text-black"
      [routerLinkActiveOptions]="{ exact: true }"
      class="text-4xl condensed"
    >
      YARDAGES
    </a>
    <button (click)="handleLogout()">Sign Out</button>
  </nav>
</div>
