<div class="md:px-4">
  <h2 class="text-2xl condensed tracking-wide mb-2">
    VISION
  </h2>

  <div class="space-y-4">
    <p class="relative">
      <img
        src="panel-bg.png"
        alt="vision"
        class="w-full h-auto rounded-lg shadow-md mb-4 md:mb-0 md:w-1/3 md:float-right md:ml-4"
      />
      <app-brand-text [content]="'GOLFPAD'"></app-brand-text>
      is here to welcome a new generation of golfers, blending fresh formats with the
      rich traditions that make golf special. Whether you’re a seasoned player who
      thrives on the game’s challenges or a newcomer discovering its unique joys,
      <app-brand-text [content]="'GOLFPAD'"></app-brand-text>
      is designed to enhance every step of your golfing journey.
    </p>

    <p>
      <app-brand-text [content]="'GOLFPAD'"></app-brand-text>
      connects golfers using fresh ideas and practical tools, all while staying true
      to the game’s timeless appeal.
      <app-brand-text [content]="'GOLFPAD'"></app-brand-text>
      aims to help players improve their skills and enjoy the sport, no matter their
      level or aspirations.
    </p>
  </div>

  <div class="space-y-4 md:clear-right mt-2">
    <p>
      At the heart of
      <app-brand-text [content]="'GOLFPAD'"></app-brand-text>
      are four distinctive golf game formats, designed to amplify the individual
      achievements of every round. These formats provide a refreshing perspective on
      the game, inspiring players to push boundaries while still enjoying its essence.
    </p>

    <p>
      To complement these formats,
      <app-brand-text [content]="'GOLFPAD'"></app-brand-text>
      introduces Yardage Sets—a streamlined tool that helps golfers track how far
      they hit each club. With multiple sets available, players can adapt their data
      to suit different conditions or personal goals. This is just the start, as
      <app-brand-text [content]="'GOLFPAD'"></app-brand-text>
      will continue to expand with tools and features that meet the evolving needs of
      golfers everywhere.
    </p>

    <p>
      Our vision is to make
      <app-brand-text [content]="'GOLFPAD'"></app-brand-text>
      the home for community golf—a space where tradition and innovation coexist.
      Whether you’re seeking inspiration or finding your rhythm for the first time,
      <app-brand-text [content]="'GOLFPAD'"></app-brand-text>
      is crafted to help you enjoy the journey of becoming the golfer you aspire to be.
    </p>
  </div>
</div>
