<button
  (click)="toggleChat()"
  class="fixed bottom-4 right-4 brand-button"
>
  CHAT WITH MERVE
</button>

<div *ngIf="isOpen" class="fixed inset-0 z-50 flex items-end justify-end p-4 text-black">
  <div class="flex flex-col w-full max-w-sm bg-white rounded-md shadow-lg h-3/4">

    <div class="flex items-center justify-between p-2 border-b">
      <h2 class="flex flex-row items-center brand-header">
        
        <img src="token.png" alt="token" class="w-4 h-4 mr-1" />
        CHAT WITH MERVE
      </h2>
      <button (click)="toggleChat()" class="text-BrandDarkGray hover:text-BrandForest">
        ✕
      </button>
    </div>

    <div class="relative flex-1 p-2 space-y-2 overflow-auto">
      <div
        *ngIf="messages.length === 0"
        class="absolute top-0 left-0 flex flex-col items-center justify-center w-full h-full"
      >
        <p class="mb-4 text-center text-BrandDarkGray">
          Ask Merve anything about golf...
        </p>
        <img class="w-16" src="token.png" alt="token" />
      </div>

      <div
        *ngFor="let msg of messages"
        [ngClass]="{
          'text-right': msg.sender === 'user',
          'text-left': msg.sender === 'ai'
        }"
      >
        <div *ngIf="msg.ai_response && msg.ai_response.response_type == -1">
          <div
            class="inline-block px-3 py-2 mb-1 rounded-lg"
            [ngClass]="{
              'bg-BrandForest text-BrandYellow': msg.sender === 'user',
              'bg-BrandLightGray text-black': msg.sender === 'ai'
            }"
          >
            {{ msg.text }}
          </div>
        </div>
        <div *ngIf="isRulesResponse(msg.ai_response)">
          <div *ngIf="msg.ai_response && msg.ai_response.rule_number">
            <p *ngIf="msg.ai_response.headline" class="px-2 mt-1 text-base condensed">{{msg.ai_response.headline}}</p>
            <p *ngIf="msg.ai_response.rule_number" class="px-2 pb-2 text-xs condensed">Rule {{msg.ai_response.rule_number}}</p>
          </div>
          
          <div
            class="inline-block px-3 py-2 mb-1 rounded-lg"
            [ngClass]="{
              'bg-BrandForest text-BrandYellow': msg.sender === 'user',
              'bg-BrandLightGray text-black': msg.sender === 'ai'
            }"
          >
            {{ msg.text }}
          </div>

          <div *ngIf="msg.ai_response && msg.ai_response.actions.length > 0">
            <p class="px-2 mt-1 text-base condensed">What Now?</p>
            <ul class="pl-5 list-disc">
              <li  *ngFor="let action of msg.ai_response.actions"
                  class="px-2 pt-1 rounded"
                >
                {{ action }}
              </li>
            </ul>
          </div>
        </div>

        <div *ngIf="msg.ai_response.response_type > -1 && !isRulesResponse(msg.ai_response)">
          <p>{{msg.text}}</p>
        </div>
        
      </div>
      
      <div *ngIf="isTyping" class="text-left">
        <div class="flex items-center inline-block px-3 py-2 mb-1 space-x-2 text-black rounded-lg bg-BrandLightGray">
          <span class="text-sm">Merve is typing</span>
      
          <div class="flex items-center space-x-1">
            <div
              class="w-2 h-2 rounded-full bg-BrandDarkGray animate-bounce"
              style="animation-delay: 0s"
            ></div>
            <div
              class="w-2 h-2 rounded-full bg-BrandDarkGray animate-bounce"
              style="animation-delay: 0.2s"
            ></div>
            <div
              class="w-2 h-2 rounded-full bg-BrandDarkGray animate-bounce"
              style="animation-delay: 0.4s"
            ></div>
          </div>
        </div>
      </div>      
    </div>

    <div class="flex items-center p-2 space-x-2">
      <input
        type="text"
        [(ngModel)]="userInput"
        class="flex-1 brand-input"
        placeholder="Ask Merve..."
        (keydown.enter)="sendMessage()"
      />
      <button
        (click)="sendMessage()"
        class="flex flex-row items-center brand-button"
      >
        Send
      </button>
    </div>

  </div>
</div>
