<div class="w-full h-full p-2 px-4 text-black pt-20">
  <h2 class="mt-3 mb-4 text-3xl font-black text-black md:text-5xl condensed">
      GOLFPAD WHITEPAPER
    </h2>
  
    <div class="flex flex-col w-full md:flex-row">
      <img
        src="game-images/games.png"
        alt="hero"
        class="w-full h-48 md:w-1/4 md:h-auto object-cover object-[50%_var(--crop-position-y)] rounded-lg"
        style="--crop-position-y: top;"
      />
  
      <div class="w-full px-2 mt-4 md:w-3/4 md:mt-0">
        <div class="flex space-x-2 mb-4">
          <button [ngClass]="{ 'BrandTab': activeTab === 'vision', 'BrandTabInactive': activeTab !== 'vision' }" (click)="activeTab = 'vision'">VISION</button>
          <button [ngClass]="{ 'BrandTab': activeTab === 'product', 'BrandTabInactive': activeTab !== 'product' }" (click)="activeTab = 'product'">PRODUCT</button>
          <button [ngClass]="{ 'BrandTab': activeTab === 'marketing', 'BrandTabInactive': activeTab !== 'marketing' }" (click)="activeTab = 'marketing'">MARKETING</button>
          <button [ngClass]="{ 'BrandTab': activeTab === 'roadmap', 'BrandTabInactive': activeTab !== 'roadmap' }" (click)="activeTab = 'roadmap'">ROADMAP</button>
        </div>
  
        <app-vision *ngIf="activeTab === 'vision'"></app-vision>
        <app-product *ngIf="activeTab === 'product'"></app-product>
        <app-marketing *ngIf="activeTab === 'marketing'"></app-marketing>
        <app-roadmap *ngIf="activeTab === 'roadmap'"></app-roadmap>
      </div>
    </div>
  </div>
  