<app-mulligans *ngIf="showMulligans" (closeModal)="closeMulligans()" [visible]="showMulligans"></app-mulligans> 
<app-bands *ngIf="showBands" (closeModal)="closeBands()" [visible]="showBands"></app-bands> 
<app-build-it *ngIf="showBuildIt" (closeModal)="closeBuildIt()" [visible]="showBuildIt"></app-build-it> 
<app-next-up *ngIf="showNextUp" (closeModal)="closeNextUp()" [visible]="showNextUp"></app-next-up> 

<div class="md:px-4">
  <h2 class="mb-2 text-2xl tracking-wide condensed">
    OUR NEW GAMES
  </h2>

  <div class="space-y-4">
    <p>
      We’re thrilled to introduce <app-brand-text [content]="'four'"></app-brand-text> innovative game formats, crafted with the next generation of golfers in mind. 
      These experiences aren’t just new ways to play—they’re opportunities to challenge yourself, refine your skills, and uncover entirely fresh dimensions of the sport. 
      Each format has been designed to ignite excitement within your group, transforming every round into a memorable experience.
    </p>

    <p>
      Blending the timeless traditions of golf with bold, creative innovations, these formats cater to players of all skill levels. Some put a modern spin on classic rules, adding strategic depth and fresh challenges, while others completely reimagine the game, offering dynamic and unconventional approaches that are as fun as they are competitive. Whether you’re looking to push your limits, enjoy lighthearted competition, or connect with others, these new formats promise something for everyone.
    </p>

    <p>
      In the sections that follow, you’ll discover what makes each of these four game modes truly special, how they fit into the evolving landscape of golf, and why they’re a must-try for any golfer. This is just the beginning—our platform will continue to evolve, introducing even more ways to play, compete, and grow. With GOLFPAD, golf’s rich history, vibrant present, and limitless future come together in one seamless, exhilarating experience.
    </p>

    <p>
      So, grab your clubs, invite your friends, and get ready to explore golf like never before. The journey starts here.
    </p>
  </div>

  <div
    class="flex flex-col w-full pt-4 mt-2 space-y-4 md:flex-row md:space-y-0 md:space-x-2"
  >
    <div class="flex flex-col w-full space-y-2 md:w-1/4">
      <div class="overflow-hidden aspect-square rounded-2xl">
        <img
          src="game-images/mulligans.jpg"
          alt="mulligans"
          class="object-fill w-full h-full"
        />
      </div>
      <p class="text-3xl text-center condensed md:text-lg">MULLIGANS</p>
      <button
        (click)="openMulligans()"
        class="px-4 py-2 text-xs rounded bg-BrandForest text-BrandYellow"
      >
        More Info
      </button>
    </div>

    <div class="flex flex-col w-full space-y-2 md:w-1/4">
      <div class="overflow-hidden aspect-square rounded-2xl">
        <img
          src="game-images/bands.jpg"
          alt="bands"
          class="object-cover w-full h-full"
        />
      </div>
      <p class="text-3xl text-center condensed md:text-lg">BANDS</p>
      <button
        (click)="openBands()"
        class="px-4 py-2 text-xs rounded bg-BrandForest text-BrandYellow"
      >
        More Info
      </button>
    </div>

    <div class="flex flex-col w-full space-y-2 md:w-1/4">
      <div class="overflow-hidden ">
        <img
          src="game-images/next-up.jpg"
          alt="next-up"
          class="object-cover w-full h-full"
        />
      </div>
      <p class="text-3xl text-center condensed md:text-lg">NEXT UP</p>
      <button
        (click)="openNextUp()"
        class="px-4 py-2 text-xs rounded bg-BrandForest text-BrandYellow"
      >
        More Info
      </button>
    </div>

    <div class="flex flex-col w-full space-y-2 md:w-1/4">
      <div class="overflow-hidden aspect-square rounded-2xl">
        <img
          src="game-images/build-it.jpg"
          alt="build-it"
          class="object-cover w-full h-full"
        />
      </div>
      <p class="text-3xl text-center condensed md:text-lg">BUILD IT</p>
      <button
        (click)="openBuildIt()"
        class="px-4 py-2 text-xs rounded bg-BrandForest text-BrandYellow"
      >
        More Info
      </button>
    </div>
  </div>
</div>
