<div class="page-container">
  <div class="container px-4 py-4 mx-auto mb-32 md:mb-0">
    <header class="flex items-center justify-between mb-4">
      <h1 class="page-header">PROFILE</h1>
      <div class="flex bg-BrandLightGray">
        <button class="brand-button">DETAILS</button>
        <button class="brand-button-inactive">SOCIAL</button>
      </div>
    </header>

    <div class="flex justify-center w-full" *ngIf="isLoading">
      <div class="mt-8 spinner"></div>
    </div>

    <div *ngIf="!isLoading && golfer" class="bg-BrandLightGray p-4 min-h-[500px]">
      <div class="flex flex-col items-stretch h-full gap-4 md:flex-row">
        <div class="relative w-full md:w-1/3">
          <img 
            [src]="golferPicture || '/profile.jpg'" 
            alt="Profile" 
            class="object-cover w-full h-auto rounded" 
          />
          <div class="absolute flex items-center gap-2 top-2 right-2">
            <span class="text-BrandDarkGray text-xxs">UPDATE</span>
            <button 
              (click)="openImageEditModal()" 
              class="p-2"
            >
              <svg class="w-4" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M16 2.66667C23.352 2.66667 29.3333 8.648 29.3333 16C29.3333 23.352 23.352 29.3333 16 29.3333C8.648 29.3333 2.66667 23.352 2.66667 16C2.66667 8.648 8.648 2.66667 16 2.66667ZM16 0C7.164 0 0 7.164 0 16C0 24.836 7.164 32 16 32C24.836 32 32 24.836 32 16C32 7.164 24.836 0 16 0ZM10.6747 17.2853L14.816 21.4253L9.33333 22.6667L10.6747 17.2853ZM24 12.2667L16.2133 20.1613L11.944 15.892L19.732 8L24 12.2667Z"
                  fill="#313235"
                />
              </svg>
            </button>
          </div>
        </div>

        <div class="flex flex-col w-full p-4 md:w-1/3">
          <div class="flex items-center justify-between mb-4">
            <h2 *ngIf="golfer.firstName == '' && golfer.lastName == ''" class="font-bold brand-header">DETAILS</h2>
            <h2 *ngIf="golfer.firstName != '' || golfer.lastName != ''" class="font-bold uppercase brand-header">{{golfer.firstName}} {{golfer.lastName}} DETAILS</h2>
            <span class="flex flex-row items-center">
              <p class="text-xxs text-BrandDarkGray">UPDATE</p>
              <div class="flex items-center ml-2 space-x-4">
                <button (click)="openEditModal()" class="flex items-center ml-2 space-x-4">
                  <svg class="w-4" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M16 2.66667C23.352 2.66667 29.3333 8.648 29.3333 16C29.3333 23.352 23.352 29.3333 16 29.3333C8.648 29.3333 2.66667 23.352 2.66667 16C2.66667 8.648 8.648 2.66667 16 2.66667ZM16 0C7.164 0 0 7.164 0 16C0 24.836 7.164 32 16 32C24.836 32 32 24.836 32 16C32 7.164 24.836 0 16 0ZM10.6747 17.2853L14.816 21.4253L9.33333 22.6667L10.6747 17.2853ZM24 12.2667L16.2133 20.1613L11.944 15.892L19.732 8L24 12.2667Z"
                      fill="#313235"/>
                  </svg>
                </button>
              </div>
            </span>
          </div>

          <div class="space-y-6">
            <div>
              <span class="text-xs tracking-wide uppercase text-BrandDarkGray">Username</span>
              <h1 class="text-5xl uppercase brand-header">{{golfer.username}}</h1>
            </div>
            <div>
              <span class="text-xs tracking-wide uppercase text-BrandDarkGray">Handicap</span>
              <h1 class="text-2xl uppercase brand-header">{{golfer.handicap}}</h1>
            </div>
            <div>
              <span class="text-xs tracking-wide uppercase text-BrandDarkGray">Home Course</span>
              <h1 class="text-2xl uppercase brand-header">Not Set</h1>
            </div>
          </div>
        </div>

        <div class="w-full p-4 bg-white rounded md:w-1/3">
          <h2 class="mb-2 font-bold">Shot Yardages</h2>
          <p>Coming soon.</p>
        </div>
      </div>
    </div>
      
    <div
      *ngIf="!isLoading && !golfer"
      class="p-6 bg-BrandLightGray min-h-[500px] rounded-md shadow-lg max-w-md mx-auto"
    >
      <h2 class="mb-6 text-2xl font-bold text-center text-BrandForest">
        <span class="flex flex-row items-center justify-center">
          Welcome to <app-brand-text class="mx-1" content="GOLFPAD"></app-brand-text>
        </span>
      </h2>
      <div *ngIf="saving" class="flex flex-col items-center justify-center">
        <div class="mt-4 spinner"></div>
        <p class="mt-2">Creating your profile...</p>
      </div>
      <form [formGroup]="profileForm" (ngSubmit)="onSubmit()" *ngIf="!saving">
        <div class="mb-4">
          <label class="block mb-1 text-sm font-medium text-gray-700">Username</label>
          <input
            type="text"
            formControlName="username"
            class="w-full px-4 py-2 border border-gray-300 rounded-md focus:ring-BrandYellow focus:border-BrandYellow"
          />
          
          <div
            *ngIf="profileForm.get('username')?.touched && profileForm.get('username')?.hasError('required')"
            class="text-sm text-red-500"
          >
            Username is required.
          </div>
          <div
            *ngIf="profileForm.get('username')?.touched && profileForm.get('username')?.hasError('minlength')"
            class="text-sm text-red-500"
          >
            Username must be at least 6 characters.
          </div>
          <div
            *ngIf="profileForm.get('username')?.touched && profileForm.get('username')?.hasError('maxlength')"
            class="text-sm text-red-500"
          >
            Username cannot exceed 20 characters.
          </div>
          <div
            *ngIf="profileForm.get('username')?.touched && profileForm.get('username')?.hasError('pattern')"
            class="text-sm text-red-500"
          >
            Only letters and digits are allowed.
          </div>
          <div
            *ngIf="profileForm.get('username')?.touched && profileForm.get('username')?.hasError('usernameTaken')"
            class="text-sm text-red-500"
          >
            That username is already taken, please choose another.
          </div>
        </div>

        <div class="mb-4">
          <label class="block mb-1 text-sm font-medium text-gray-700">Handicap</label>
          <input
            type="text"
            formControlName="handicap"
            class="w-full px-4 py-2 border border-gray-300 rounded-md focus:ring-BrandYellow focus:border-BrandYellow"
          />
          <div
            *ngIf="profileForm.get('handicap')?.touched && profileForm.get('handicap')?.hasError('pattern')"
            class="text-sm text-red-500"
          >
            Handicap must be numeric with up to 1 decimal place, e.g. -10, 10, 20.2, -54.0, 54.0.
          </div>
          <div
            *ngIf="profileForm.get('handicap')?.touched && profileForm.get('handicap')?.hasError('rangeError')"
            class="text-sm text-red-500"
          >
            Handicap must be between -54.0 and 54.0.
          </div>
        </div>

        <div class="mb-4">
          <label class="block mb-1 text-sm font-medium text-gray-700">First Name</label>
          <input
            type="text"
            formControlName="firstName"
            class="w-full px-4 py-2 border border-gray-300 rounded-md focus:ring-BrandYellow focus:border-BrandYellow"
          />
          <div
            *ngIf="profileForm.get('firstName')?.touched && profileForm.get('firstName')?.hasError('minlength')"
            class="text-sm text-red-500"
          >
            First name must be at least 2 characters.
          </div>
          <div
            *ngIf="profileForm.get('firstName')?.touched && profileForm.get('firstName')?.hasError('maxlength')"
            class="text-sm text-red-500"
          >
            First name cannot exceed 20 characters.
          </div>
        </div>

        <div class="mb-4">
          <label class="block mb-1 text-sm font-medium text-gray-700">Last Name</label>
          <input
            type="text"
            formControlName="lastName"
            class="w-full px-4 py-2 border border-gray-300 rounded-md focus:ring-BrandYellow focus:border-BrandYellow"
          />
          <div
            *ngIf="profileForm.get('lastName')?.touched && profileForm.get('lastName')?.hasError('minlength')"
            class="text-sm text-red-500"
          >
            Last name must be at least 2 characters.
          </div>
          <div
            *ngIf="profileForm.get('lastName')?.touched && profileForm.get('lastName')?.hasError('maxlength')"
            class="text-sm text-red-500"
          >
            Last name cannot exceed 20 characters.
          </div>
        </div>

        <button
          type="submit"
          class="w-full px-4 py-2 shadow-sm hover:bg-BrandYellowDark focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-BrandYellow"
          [class.brand-button]="!profileForm.pending && profileForm.valid"
          [class.brand-button-inactive]="profileForm.pending || profileForm.invalid"
          [disabled]="profileForm.invalid || profileForm.pending || isSubmitting"
        >
          Create Profile
        </button>
      </form>
    </div>
    

    <app-simple-modal
      [title]="'EDIT PROFILE'"
      [showModal]="showEditProfileModal"
      (onClose)="closeEditModal()"
    >
      <div class="flex flex-col items-center justify-center" *ngIf="saving">
        <div class="mt-4 spinner"></div>
        <p class="mt-2 mb-4">Saving changes...</p>
      </div>

      <form class="p-4" *ngIf="!saving" [formGroup]="profileForm" (ngSubmit)="onSubmit(true)">

        <div class="mb-4">
          <label class="block mb-1 text-sm font-medium text-gray-700">Username</label>
          <input
            type="text"
            formControlName="username"
            class="w-full px-4 py-2 border border-gray-300 rounded-md focus:ring-BrandYellow focus:border-BrandYellow"
          />

          <div
            *ngIf="profileForm.get('username')?.touched && profileForm.get('username')?.hasError('required')"
            class="text-sm text-red-500"
          >
            Username is required.
          </div>
          <div
            *ngIf="profileForm.get('username')?.touched && profileForm.get('username')?.hasError('minlength')"
            class="text-sm text-red-500"
          >
            Username must be at least 6 characters.
          </div>
          <div
            *ngIf="profileForm.get('username')?.touched && profileForm.get('username')?.hasError('maxlength')"
            class="text-sm text-red-500"
          >
            Username cannot exceed 20 characters.
          </div>
          <div
            *ngIf="profileForm.get('username')?.touched && profileForm.get('username')?.hasError('pattern')"
            class="text-sm text-red-500"
          >
            Only letters and digits are allowed.
          </div>
          <div
            *ngIf="profileForm.get('username')?.touched && profileForm.get('username')?.hasError('usernameTaken')"
            class="text-sm text-red-500"
          >
            That username is already taken, please choose another.
          </div>
        </div>

        <div class="mb-4">
          <label class="block mb-1 text-sm font-medium text-gray-700">Handicap</label>
          <input
            type="text"
            formControlName="handicap"
            class="w-full px-4 py-2 border border-gray-300 rounded-md focus:ring-BrandYellow focus:border-BrandYellow"
          />
          <div
            *ngIf="profileForm.get('handicap')?.touched && profileForm.get('handicap')?.hasError('pattern')"
            class="text-sm text-red-500"
          >
            Handicap must be numeric with up to 1 decimal place, e.g. -10, 10, 20.2, -54.0, 54.0.
          </div>
          <div
            *ngIf="profileForm.get('handicap')?.touched && profileForm.get('handicap')?.hasError('rangeError')"
            class="text-sm text-red-500"
          >
            Handicap must be between -54.0 and 54.0.
          </div>
        </div>

        <div class="mb-4">
          <label class="block mb-1 text-sm font-medium text-gray-700">First Name</label>
          <input
            type="text"
            formControlName="firstName"
            class="w-full px-4 py-2 border border-gray-300 rounded-md focus:ring-BrandYellow focus:border-BrandYellow"
          />
          <div
            *ngIf="profileForm.get('firstName')?.touched && profileForm.get('firstName')?.hasError('minlength')"
            class="text-sm text-red-500"
          >
            First name must be at least 2 characters.
          </div>
          <div
            *ngIf="profileForm.get('firstName')?.touched && profileForm.get('firstName')?.hasError('maxlength')"
            class="text-sm text-red-500"
          >
            First name cannot exceed 20 characters.
          </div>
        </div>

        <div class="mb-4">
          <label class="block mb-1 text-sm font-medium text-gray-700">Last Name</label>
          <input
            type="text"
            formControlName="lastName"
            class="w-full px-4 py-2 border border-gray-300 rounded-md focus:ring-BrandYellow focus:border-BrandYellow"
          />
          <div
            *ngIf="profileForm.get('lastName')?.touched && profileForm.get('lastName')?.hasError('minlength')"
            class="text-sm text-red-500"
          >
            Last name must be at least 2 characters.
          </div>
          <div
            *ngIf="profileForm.get('lastName')?.touched && profileForm.get('lastName')?.hasError('maxlength')"
            class="text-sm text-red-500"
          >
            Last name cannot exceed 20 characters.
          </div>
        </div>
        <div class="modal-footer">
          <button 
            class="brand-button-inactive" 
            (click)="closeEditModal()"
          >
            CANCEL
          </button>
          <button 
            class="brand-button" 
            [disabled]="isSubmitting" 
            type="submit"
          >
            SAVE
          </button>
        </div>
      </form>
    </app-simple-modal>

    <app-add-image
      *ngIf="showEditProfilePicModal"
      (fileSelect)="onFileSelect($event)"
      (close)="closeImageEditModal()"
    ></app-add-image>
  </div>
</div>
