<div class="md:px-4">
    <h2 class="text-2xl condensed tracking-wide mb-2">
      MERVE
    </h2>
  
    <div class="space-y-4">
        <p class="relative">
            <app-brand-text [content]="'MERVE'"></app-brand-text> is our voice AI assistant for every golfer to travel with throughout their career. 
            Whether out on the course or at the range, <app-brand-text [content]="'MERVE'"></app-brand-text> offers insights into your game through our friendly chat interface. 
            <app-brand-text [content]="'MERVE'"></app-brand-text> is also fully trained on the rules of golf, enabling him to provide guidance on your golf game whenever you need it. 
        </p>
        
        <p>
            <app-brand-text [content]="'MERVE'"></app-brand-text> will help you play percentage golf by learning your game, just let <app-brand-text [content]="'MERVE'"></app-brand-text> know how far you are hitting a club at any point and he will store that information for you. 
            <app-brand-text [content]="'MERVE'"></app-brand-text> can take information on the kind of ball you hit, the weather and anything else our AI models might use to better predict important information about your golf game.
        </p>

        <p>
            <app-brand-text [content]="'MERVE'"></app-brand-text> will ask questions about your round, were you ended up off the tee and will grow to offer advice on shot selection. <app-brand-text [content]="'MERVE'"></app-brand-text> will have all the abilities of your caddy, trained on your data built through your conversations.
        </p>

        <p>
            As <app-brand-text [content]="'MERVE'"></app-brand-text> grows he will offer his services to golf courses, offering a new simpler way to manage memberships, course information and competition setups. <app-brand-text [content]="'MERVE'"></app-brand-text> will allow golf courses to communicate with each other, offering new course management features from promotional offerings to hosting inter-club tournaments. 
        </p>

        <p>
            At the driving range talk to <app-brand-text [content]="'MERVE'"></app-brand-text> about each club you hit, the yardages, the shot types and even things like the weather to ensure he keeps a complete picture of how you are playing. Out on the course you can then describe the conditions to <app-brand-text [content]="'MERVE'"></app-brand-text> getting tailored advice on your game.
        </p>
        <p>
            Along with shot advice, <app-brand-text [content]="'MERVE'"></app-brand-text> will keep track of the current round you are playing, recording the scores of everyone all through a simple conversational interface. Chat to <app-brand-text [content]="'MERVE'"></app-brand-text> like he's one of your group and seamlessly record information for all game formats, old and new.
        </p>
        <p>
            <app-brand-text [content]="'MERVE'"></app-brand-text> will even be able to communicate with other users to arrange rounds, making your entire golf experience as seamless as possible.
        </p>
        <p>
            <app-brand-text [content]="'MERVE'"></app-brand-text> will ensure <app-brand-text [content]="'GOLFPAD'"></app-brand-text> benefits from the advancements in AI, evolving to manage courses, tournaments and handicaps. 
            Our voice first UI can save a golfer typing during a round, something the weather can sometimes make difficult.  
        </p>
    </div>
  </div>
  