<div class="relative flex flex-col h-screen bg-BrandYellow">
  <div class="flex-none h-[80px] fixed top-0 inset-x-0 bg-BrandYellow z-20">
    <div class="absolute top-4 left-4">
      <button class="flex items-center justify-center w-12 h-12 text-2xl font-bold text-white bg-black rounded-full shadow-md">+</button>
    </div>
    <div class="absolute top-4 right-4">
      <a href="/">
        <span class="text-3xl font-extrabold text-black condensed">GOLFPAD</span>
      </a>
    </div>
  </div>

  <router-outlet></router-outlet>
</div>
