<app-simple-modal 
  [title]="'BOMBS'"
  [showModal]="visible"
  (onClose)="onClose()"
>
  <div class="flex flex-col md:flex-row md:items-start md:space-x-4 space-y-4 md:space-y-0">
        <div class="flex flex-col space-y-2 text-xl leading-relaxed ">
      <p>
        <app-brand-text [content]="'BOMBS'"></app-brand-text>
        has been designed to add a new dimension to your driving range experience. 
      </p>
      <p>
        Friends tune into each others live driving range stream, selecting targets on the screen the player on the tee needs to hit. 
      </p>
      <p>
        AI will then identify when a golfer hits a target, giving them points against their friends.
      </p>
    </div>
  </div>
</app-simple-modal>
