
<div class="relative flex flex-col w-full h-full min-h-screen px-4 overflow-hidden text-center bg-BrandYellow">
  
  <div *ngIf="!isLoading" class="relative z-10 flex flex-col items-center justify-center flex-1">
    <h1 class="font-bold text-BrandForest">WELCOME TO <span class="condensed text-black">GOLFPAD</span></h1>
    <h2 class="text-4xl font-black text-black condensed md:text-6xl">
      THE FUTURE OF GOLF STARTS HERE
    </h2>
    <p class="text-BrandGreen condensed">A NEW GENERATION OF GAMES</p>
  </div>

  <div class="absolute bottom-[-10px] w-[350px] xs:bottom-[-20px] xs:w-[500px] left-1/2 transform -translate-x-1/2  z-0">
    <img
      src="golfball.png"
      alt="Golf Ball"
      class="w-full h-auto"
    />
  </div>
</div>