<app-simple-modal
  [title]="'BULLSEYE'"
  [showModal]="visible"
  (onClose)="onClose()"
>
  <div class="flex flex-col md:flex-row md:items-start md:space-x-4 space-y-4 md:space-y-0">
        <div class="flex flex-col space-y-2 text-xl leading-relaxed ">
      <p>
        <app-brand-text [content]="'BULLSEYE'"></app-brand-text>
        has been designed to add a new dimension to your putting game. 
        Play as a group to hit targets and get points on getting within a putters length of the hole.
      </p>
    </div>
  </div>
</app-simple-modal>
