@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Mona Sans';
  src: url('/fonts/MonaSans-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-display: swap;
  font-family: "Mona Sans Semi Bold";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/MonaSans-SemiBold.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Mona Sans Condensed";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/MonaSansCondensed-Regular.woff2")
    format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Mona Sans Condensed Extra Bold";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/MonaSansCondensed-ExtraBold.woff2")
    format("woff2");
}

body {
  font-family: "Mona Sans", sans-serif !important;
  color: white !important;
  height: 100vh;
  margin: 0;
  background-color: var(--GolfPadYellow);
}

.condensed {
  font-family: "Mona Sans Condensed Extra Bold";
}

.brand-button{
  @apply bg-BrandForest px-4 py-2 rounded text-BrandYellow
}

/* You can add global styles to this file, and also import other style files */
/* src/app/components/nav-overlay/nav-overlay.component.css */
.nav-overlay {
    @apply flex min-h-screen flex-col relative bg-gray-800 text-white;
  }
  
  .nav-item {
    @apply p-4;
  }
  
  .nav-item button {
    @apply text-3xl lg:text-6xl font-bold;
  }
  
  .social-links a {
    @apply text-xs lg:text-base text-white underline p-2;
  }
  
  img {
    @apply w-12 h-12 rounded-full;
  }
  
  .BrandTab {
    @apply px-2 py-1 condensed
  }
  
  .BrandTabInactive {
    @apply px-2 py-1 condensed text-BrandDarkGray
  }