@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Mona Sans';
  src: url('/fonts/MonaSans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mona Sans';
  src: url('/fonts/MonaSans-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mona Sans Condensed';
  src: url('/fonts/MonaSansCondensed-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mona Sans Condensed';
  src: url('/fonts/MonaSansCondensed-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Mona Sans', sans-serif !important;
  color: white !important;
  height: 100vh;
  margin: 0;
  background-color: var(--BrandYellow);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.condensed {
  font-family: "Mona Sans Condensed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Arial, sans-serif;
  font-weight: 800;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.brand-header {
  @apply condensed text-black 
}

.brand-button{
  @apply bg-BrandForest px-4 py-2 rounded text-BrandYellow condensed
}

.brand-input{
  @apply bg-white border-BrandForest px-4 py-2 rounded text-black
}

/* You can add global styles to this file, and also import other style files */
/* src/app/components/nav-overlay/nav-overlay.component.css */
.nav-overlay {
    @apply relative flex flex-col min-h-screen text-white bg-BrandDarkGray;
  }
  
  .nav-item {
    @apply p-4;
  }
  
  .nav-item button {
    @apply text-3xl font-bold lg:text-6xl;
  }
  
  .social-links a {
    @apply p-2 text-xs text-white underline lg:text-base;
  }
    
  .BrandTab {
    @apply px-2 py-1 condensed
  }
  
  .BrandTabInactive {
    @apply px-2 py-1 condensed text-BrandDarkGray
  }