<div 
  *ngIf="showModal" 
  class="fixed inset-0 z-50 flex items-center justify-center p-4 bg-black bg-opacity-50"
  (click)="closeModal()" 
>
  <div 
    class="relative w-full max-w-3xl bg-white rounded shadow p-4 max-h-[90vh] overflow-y-auto"
    (click)="$event.stopPropagation()"
  >
    <button 
      (click)="closeModal()" 
      class="absolute font-bold top-2 right-2 text-BrandDarkGray hover:text-BrandTextGray"
    >
      &times;
    </button>

    <h2 class="mb-2 text-xl font-bold">
      {{ title }}
    </h2>

    <ng-content></ng-content>
  </div>
</div>
