<div 
  *ngIf="showModal" 
  class="fixed inset-0 z-50 flex items-center justify-center modal-overlay bg-black/50"
  [class.visible]="isVisible"
  (click)="closeModal()" 
>
  <div 
    class="modal-content bg-white rounded-lg shadow-xl w-[90%] max-w-[500px]"
    (click)="$event.stopPropagation()"
  >
    <div class="flex items-center justify-between p-3 bg-BrandYellow">
      <h2 class="pl-1 page-header">
        {{ title }}
      </h2>
      
      <button 
        (click)="closeModal()" 
        class="flex items-center justify-center text-xl font-bold text-white bg-black rounded-full shadow-md w-9 h-9 hover:bg-BrandDarkGray"
      >
        &times;
      </button>
    </div>

    <ng-content></ng-content>
  </div>
</div>
